title = "Profilom"
url = "/profilom"
layout = "default"
is_hidden = 0

[account]
redirect = "profil"
paramCode = "code"
forceSecure = 0
requirePassword = 0

[resetPassword]
paramCode = "code"

[session]
security = "all"
redirect = "profil"
==
{% if not user %}
<div class="container my-5">
    <div class="row">

        <div class="col-md-6 col-lg-6 mb-2">
            <h3>Belépés</h3>
            {% partial account ~ '::signin' %}
        </div>

        <div class="col-md-6 col-lg-6 mb-5 mb-2">
            {% partial account ~ '::register' %}
        </div>

    </div>
    
    <div class="row">
    	<div class="col-lg-6 col-sm-12">
			<div id="partialUserResetForm">
			    {% if resetPassword.code == null %}
			        {% partial resetPassword ~ '::restore' %}
			    {% else %}
			        {% partial resetPassword ~ '::reset' %}
			    {% endif %}
			</div>    		
    	</div>
    </div>
</div>

{% else %}
<div class="container my-5">
	<div class="row">
		<div class="col-lg-12">
			    {% partial account ~ '::activation_check' %}
		</div>
		<div class="col-lg-12">
			{% partial account ~ '::update' %}
		</div>
		<div class="col-lg-12">
			{% partial account ~ '::deactivate_link' %}
		</div>
	</div>
</div>


{% endif %}