==
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ this.page.description }}">
    <meta name="title" content="{{ this.page.title }}">
    <meta name="keywords" content="{{ this.page.keywords }}">
    <meta property="og:title" content="{{ this.page.title }}">
    <meta property="og:description" content="{{ this.page.description }}">

    <link rel="icon" type="image/png" href="#">


    <link href="{{ [
            'assets/css/bootstrap.min.css',
            'assets/css/all.min.css',
            'assets/css/bootstrapselect.css',
            'assets/scss/app.scss',
        ]|theme }}" rel="stylesheet"> {% styles %}

    <title>Jegyzetszerver - {% placeholder title default %}{{ this.page.title }}{% endplaceholder %}</title>
</head>

{% flash %}
<p data-control="flash-message" class="flash-message fade {{ type }}" data-interval="5">
    {{ message }}
</p>
{% endflash %}