<form data-request="onSubmit" data-request-files data-request-flash>  

    <input type="hidden" name="_handler" value="onSave">
    
    {{ form_token() }}
    {{ form_sessionKey() }}

    <input name="title" placeholder="title">
    <input name="author" placeholder="author">
    <input name="appearance" placeholder="appearance">
    <input type="text" name="description" placeholder="description">
    <input type="text" name="faculty" placeholder="faculty">
    <input type="text" name="subject" placeholder="subject">


    <div class="custom-control custom-switch">
    	<label class="custom-control-label checkbox-set-value" for="customSwitch1">Ez a jegyzet PDF?</label>
        <input type="checkbox" class="custom-control-input checkbox-set-value" id="customSwitch1" name="is_pdf" value="">
    </div>
    
    <label class="custom-control-label checkbox-set-value">PDF feltöltése..</label>
    <input type="file" name="pdf_file" accept="pdf" placeholder="PDF fájl">

    <label class="custom-control-label checkbox-set-value">Borítókép feltöltése..</label>
    <input type="file" name="image" accept="image/*" data-request="onImageUpload" placeholder="Borítókép" data-request-files data-request-flash>

    <div id="imageResult" class="preview-image-div">Nincs előnézet</div>
    </br>

    <button type="submit" class="btn btn-primary">Jegyzet beküldése</button>

</form>
